MONGO_DB_URI=
JWT_REFRESH_SECRET=
JWT_ACCESS_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
AUTH_HMAC_SECRET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET=
GEMINI_API_KEY=
LISTEN_ADDRESS=